:root {
    --primary: #c91919;
    --secondary: #084177;
    --roboto:'Roboto', sans-serif;
    background: linear-gradient(45deg, #002B5B, #2B4865, #256D85, #3FA796, #8FE3CF);
    background-size: 300% 300%;
    animation: colors 10s ease infinite;
}

body {
    background-color: var(--secondary);
    height: 100vh;
    overflow-x: hidden;
}


.main-navbar {
    background-color: #002B5B;
}

.navbar-brand img {
    width: 100px;
}

.nav-link {
    color: #fff !important;
}

.navbar-collapse {
    flex-grow: unset !important;
}

.dropdown-menu {
    background-color: rgba(167, 36, 36, 0.856);
    
}

.dropdown-item {
    color: #fff;
}

.slider-image img {
    width: 90%;
    border-radius: 50%;
    overflow: hidden;
    border: 10px solid #c91919;
    transform: rotate(5deg);
}

.slider {
    background: linear-gradient(50deg, #002B5B, #2B4865, #256D85, #3FA796, #8FE3CF);
    background-size: 600% 600%;
    height: 100vh;
    display: flex;
    align-items: center;
    animation: colors 15s ease infinite;
}

@keyframes colors {
    0% {
      background-position: 0% 50% ;
    }

    50% {
        background-position: 100% 50% ;
    }

    100% {
        background-position: 0% 50% ;
    }
}
.name {
    font-size: 70px;
    font-family: var(--roboto);
    color: var(--primary);
    text-align: center;
    color: #c91919;
}

.name-1 {
    font-size: 40px;
    font-family: var(--roboto);
    text-align: center;
    color: #c91919;
}

.name-2 {
    font-size: 40px;
    font-family: var(--roboto);
    text-align: center;
    color: #e4dcdc;
}

.job {
    font-size: 90px;
    font-family: var(--roboto);
    text-align: center;
    color: #fff;
}

.location {
    font-size: 40px;
    font-family: var(--roboto);
    text-align: center;
    color: #c91919;
}


.description {
    font-size: 18px;
    font-family: var(--roboto);
    color: rgba(238, 223, 223, 0.733);
    text-align: center;
}

@media(max-width:767px) {
    .job{
        font-size: 40px !important ;
    }
    .location{
        font-size: 30px !important;
    }
}

/* about */

.sm-title {
    color: var(--primary);
    font-size: 25px;
}

.lg-title {
    color: #c91919;
    font-size: 50px;
    font-family: var(--roboto);
}

.text {
    color: rgba(255, 255, 255, 0.671);
}

.about-image {
    width: 70%;
    border-radius: 5%;
    overflow: hidden;
}

.a-name {
    color: #c91919;
    font-size: 40px;
}

.um-trabalho {
    color: rgba(255, 255, 255, 0.671);
    font-size: 50px;
}

.a-job {
    color: #fff;
    font-size: 25px;
}

.a-job span {
    color: var(--primary);
}

.line {
    width: 100%;
    height: 1px;
    background-color: #c91919;
}

.line-1 {
    width: 100%;
    height: 1px;
    background-color: #c91919;
}

table {
    color: #fff;
}

.p-i {
    font-family: var(--roboto);
    color: rgb(238, 230, 230);

}

.card {
   background: #f3f4f7; 
   border-top: 2px solid rgba(185, 10, 10, 0.733);
   border-left: 2px solid rgba(185, 10, 10, 0.733);
   box-shadow: 20px 20px 50px #363434;
   
}

.iconSection {
    display: flex;
}

.icon-text {
    color: #fff;
    margin-left: 10px;
}

.icon-text-1 {
    color: #fff;
    margin-left: 30px;
}

.c-text {
    color: rgb(241, 233, 233);
    font-size: 40px;
}
.c-text span {
    color: var(--primary);
   
}

.form-label {
    color: #fff;
}

.footer {
    height: 50px;
    width: 100vw;
    background-color: #002B5B;
    display: flex;
    align-items: center;
}

.footer a {
    text-decoration: none;
    color: rgb(218, 204, 204);
    margin-left: 43%;
}
 .footer a span {
     color: var(--primary);
 }

 .face {
    position: absolute; 
    width: 20px;
    height: 20px;
    transform: translate(-50% -50%);
 }

 .face a {
    display: inline-flex;
    width: 50px;
    height: 50px;
    background: #c91919;
    color: white;
    margin: 0 0px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: .5s;
    font-size: 20px;
 }

 .face a:hover {
    background: #1c4ef1;
 }

 .face a i {
    transition: 00.4s all;
 }
 
 .face a:hover > i {
    transform: scale(1.6) rotate(25deg);
 }

 .ins {
    position: absolute; 
    width: 20px;
    height: 20px;
    transform: translate(-50% -50%);
 }

.ins a {
    display: inline-flex;
    width: 50px;
    height: 50px;
    background: #c91919;
    color: white;
    margin: 0 64px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.ins a:hover {
    background: linear-gradient(#c61cf1, #780894, #c91919, #d3640a);
 }

.ins a i {
    transition: 00.4s all;
 }

.ins a:hover > i {
    transform: scale(1.6) rotate(25deg);
 }

.In {
    position: absolute; 
    width: 20px;
    height: 20px;
    transform: translate(-50% -50%);
 }

.In a {
    display: inline-flex;
    width: 50px;
    height: 50px;
    background: #c91919;
    color: white;
    margin: 0 127px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.In a:hover {
    background: #1c4ef1;
 }

.In a i {
    transition: 00.4s all;
 }

.In a:hover > i {
    transform: scale(1.6) rotate(25deg);
 }

.twi {
    position: absolute; 
    width: 20px;
    height: 20px;
    transform: translate(-50% -50%);
 }

.twi a {
    display: inline-flex;
    width: 50px;
    height: 50px;
    background: #c91919;
    color: white;
    margin: 0 188px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: .5s;
}

.twi a:hover {
    background: #1c4ef1;
 }

 .twi a i {
    transition: 00.4s all;
 }

.twi a:hover > i {    
    transform: scale(1.6) rotate(25deg);
 }

 .git {
    position: absolute; 
    width: 20px;
    height: 20px;
    transform: translate(-50% -50%);
 }
 .git a {
    display: inline-flex;
    width: 50px;
    height: 50px;
    background: #c91919;
    color: white;
    margin: 0 250px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    transition: .5s;
    font-size: 20px;
 }

 .git a:hover {
    background: #18181a;
 }

 .git a i {
    transition: 00.4s all;
 }
 
 .git a:hover > i {
    transform: scale(1.6) rotate(25deg);
 }

 .btn-dark {
    background: #c91919;
 }

.navbar{
    color: #042953;
}

.jumbotron-heading{
    color: #c91919;
    font-size: 50px;
    
}
.mb-0{
    font-size: 50px; 
    text-align: center;
}

.wht {
    position: absolute; 
    left: 4.6%; 
    margin: -9px;   
    font-size: 35px;
    color: #c91919;
}
